.npmignore
.gitignore
.jshintrc
.travis.yml
npm-debug.log
Makefile
*.tgz
*.bak
*.sh
/benchmark
/js/tool/
/test_resources/tests.json
/test_resources/new-tests.json
/test_resources/bad-tests.json
/tmp/
